<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="15 seconds">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%date{HH:mm:ss:SSS} %5p [%8.8t] %30.30logger{30} %5.5line - %m%n</pattern>-->
            <pattern>%6.6relative{6} [%10.10thread] %highlight(%-5level [%30.30logger{30}] %m) %n%n</pattern>
        </encoder>
    </appender>

    <logger name="com.hazelcast" level="INFO"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="ssl" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.ringojs" level="TRACE"/>

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
    </root>
</configuration>