<ul>
    <li data-mio-job-tab="job.source" data-mio-detail-name="source">
        <div data-vertical-center>
            <a data-ng-click="select()" class="btn btn-trans">
                <div mio-job-btn-service="tab" data-tab-type="source"></div>
            </a>
        </div>
    </li>
    <li data-mio-job-tab="job.destination" data-mio-detail-name="destination">
        <div data-vertical-center>
            <a data-ng-click="select()" class="btn btn-trans">
                <div mio-job-btn-service="tab" data-tab-type="destination"></div>
            </a>
        </div>
    </li>
    <li data-mio-job-tab="job.content" data-mio-detail-name="content">
        <div data-vertical-center>
            <a data-ng-click="select()" class="btn btn-trans">
                <div data-mio-job-btn-content="tab"></div>
            </a>
        </div>
    </li>
    <li data-mio-job-tab="job.action" data-mio-detail-name="action">
        <div data-vertical-center>
            <a data-ng-click="select()" class="btn btn-success">Migrate</a>
        </div>
    </li>
    <li data-mio-job-tab="job.status" data-mio-detail-name="status">
        <div data-vertical-center>
            Choose a source and destination to begin a job
        </div>
    </li>
</ul>
