<ul class="job-content">
    <li>
        <div class="static" data-vertical-center>
            Choose the content items you want to migrate<br>
            <a href="#">Advanced</a>
        </div>
    </li>
    <li class="wide4">
        <div data-vertical-center>
            <a class="btn btn-select"><i class="icon-envelope-alt"/> Email</a>
            <a class="btn btn-select"><i class="icon-user" /> Contacts</a>
            <a class="btn btn-select"><i class="icon-calendar" /> Calendars</a>
            <a class="btn btn-select"><i class="icon-file"/> Documents</a>
            <a class="btn btn-select"><i class="icon-picture"/> Media</a>
            <br/>
            <p class="info">
                Calendars option is disabled because service does not allow calendar sharing
            </p>
        </div>
    </li>
</ul>
