<ul>
    <li data-mio-job-tab="job.source" data-mio-detail-name="source" data-ng-class="{active:selected}">
        <div data-vertical-center>
            <a data-ng-click="select()" class="btn btn-trans"><i
                    class="icon-plus-sign icon-2x pull-left"></i> Add source<br/>account</a>
        </div>
    </li>
    <li data-mio-job-tab="job.destination" data-mio-detail-name="destination" data-ng-class="{active:selected}">
        <div data-vertical-center>
            <a data-ng-click="select()" class="btn btn-trans"><i
                    class="icon-plus-sign icon-2x pull-left"></i> Add destination<br/>account</a>
        </div>
    </li>
    <li data-mio-job-tab="job.content" data-mio-detail-name="content" data-ng-class="{active:selected}">
        <div data-vertical-center>
            <a data-ng-click="select()" class="btn btn-trans">Everything <i
                    class="icon-caret-down"></i></a>
        </div>
    </li>
    <li data-mio-job-tab="job.action" data-mio-detail-name="action" data-ng-class="{active:selected}">
        <div data-vertical-center>
            <a data-ng-click="select()" class="btn btn-success">Migrate</a>
        </div>
    </li>
    <li data-mio-job-tab="job.status" data-mio-detail-name="status" data-ng-class="{active:selected}">
        <div data-vertical-center>
            Choose a source and destination to begin a job
        </div>
    </li>
</ul>
