<div class="job-stack" data-ng-class="{ open: ui.open }">

    <div class="job-tabs" data-mio-job-tabs="job"></div>

    <div data-ng-show="detailName == 'source'">
        <div class="job-detail" data-mio-job-services="source" data-mio-job-services-ref="job"></div>
    </div>
    <div data-ng-show="detailName == 'destination'" data-mio-job-services-ref="job">
        <div class="job-detail" data-mio-job-services="destination"></div>
    </div>
    <div data-ng-show="detailName == 'content'">
        <div class="job-detail" data-mio-job-content="job.content"></div>
    </div>
    <div data-ng-show="detailName == 'action'">
        <div class="job-detail" data-mio-job-action="job.action"></div>
    </div>
    <div data-ng-show="detailName == 'status'">
        <div class="job-detail" data-mio-job-status="job.status"></div>
    </div>
</div>

