<div class="job-stack" data-ng-class="{ open: ui.open }">

    <div class="job-tabs" data-mio-job-tabs="job"></div>

    <div data-ng-show="detailName == 'source'">
        <div class="job-detail ng-cloak" data-ng-cloak=""
             data-mio-job-services="source" data-mio-job-ref="job"></div>
    </div>
    <div data-ng-show="detailName == 'destination'">
        <div class="job-detail ng-cloak" data-ng-cloak=""
             data-mio-job-services="destination" data-mio-job-ref="job"></div>
    </div>
    <div data-ng-show="detailName == 'content'">
        <div class="job-detail" data-mio-job-content="job.content" data-mio-job-ref="job"></div>
    </div>
    <div data-ng-show="detailName == 'action'">
        <div class="job-detail mio-job-action" data-mio-job-ref="job"></div>
    </div>
    <div data-ng-show="detailName == 'status'">
        <div class="job-detail" data-mio-job-status="job.status"></div>
    </div>
</div>

