body {
    padding-bottom: 60px;
    font-family: Allerta, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover {
    cursor: pointer;
}

.gray {
    color: #999999;
}

/*
    Style to be used in conjunction with Angular's ng-cloak directive. It is included
    in angular.js, but since we load that file at the end of our page there is still a
    FOUC visible. Putting it here ensures the offending elements are hidden on initial
    load.
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}



.cursive {
    font-family: 'Leckerli One', cursive;
}

.hicolor {
    color: #fcc769;
}

.white {
    color: #fbfbfb;
}

.center {
    text-align: center;
}


/*
    General form styling
*/
input[type="radio"], input[type="checkbox"] {
    margin: 0 6px 0 0;
}

input.ng-invalid.ng-dirty, select.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
    color: #b94a48;
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

div.tooltip.validation div.tooltip-arrow {
    border-right-color: #8b0000;
}

div.tooltip.validation div.tooltip-inner {
    background-color: #8b0000;
}

div.tooltip.validation div.tooltip-inner span {
    /*white-space: pre;*/
}


/*
    There are typically two containers on the website because there are background
    elements (primarily background colors) which will stretch the width of the page.
    Inside of these 'outer' containers are nested an 'inner' container with a fixed
    width of 960 pixels. Most of the content goes inside one of these inner containers.
*/

.container.outer {
    margin: 0;
    width: 100%;
}

.container.inner {
    width: 960px;
}


/*
    Both the masthead and the hero are contained within the header container.
*/

.container.header {
    background-color: #21b6ce;
}


/*
    The masthead is on all of the pages and includes the logo and main menu.
*/

.masthead {
    padding: 30px 0 10px 0;
}

.masthead .btn {
    margin-top: 18px;
    font-size: 12pt;
    min-width: 70px;
}

/*
    The hero row is on the homepage and is directly below the masthead.
*/

.hero {
    margin-top: 20px;
}

.hero h1 {
    color: #fdfdfb;
    letter-spacing: -0.1em;
}

.hero h2 {
    font-weight: normal;
    font-size: 34px;
}

.hero p {
    color: #fdfdfb;
    font-size: 20pt;
    line-height: 24pt;
    font-weight: normal;
    letter-spacing: -0.05em;
    margin: 5px 0 20px 0;
}

.hero .btn {
    font-size: 22px;
    letter-spacing: -0.05em;
}


/*
    Section on the homepage directly below the hero page.
*/
.marketing {
    margin: 25px 0 35px 0;
}

.marketing h4 {
    color: #65c6d8;
    font-size: 120%;
}

.marketing p {
    color: #909090;
    font-size: 110%;
}



/*
    Below the marketing row are a series of features.
*/

.container.features {
    background: #f0f7f8; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f7f8 0%, #eaf4f5 2%, #eaf4f5 90%, #e1edee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f7f8), color-stop(2%,#eaf4f5), color-stop(90%,#eaf4f5), color-stop(100%,#e1edee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f7f8 0%,#eaf4f5 2%,#eaf4f5 90%,#e1edee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f7f8 0%,#eaf4f5 2%,#eaf4f5 90%,#e1edee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f7f8 0%,#eaf4f5 2%,#eaf4f5 90%,#e1edee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f7f8 0%,#eaf4f5 2%,#eaf4f5 90%,#e1edee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f7f8', endColorstr='#e1edee',GradientType=0 ); /* IE6-9 */
}

.features h4 {
    font-weight: normal;
}

.features p {
    font-size: 110%;
    color: #8a8d8d;
}

/*
    The footer appears at the bottom of every page.
*/

.container.footer {
    background-color: #21b6ce;
}

.container.footer > div {
    margin-top: 40px;
}

/*
    The navigation menu in the footer is a slightly modified bootstrap nav.
*/

.footer .nav>li>a:hover,
.footer .nav>li>a:focus,
.footer .nav-pills>.active>a,
.footer .nav-pills>.active>a:hover,
.footer .nav-pills>.active>a:focus {
    background-color: #1da3b8;
}

.footer ul.nav {
    text-align: left;
}

.footer .nav-pills>li>a {
    margin: 2px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.footer .nav-pills>li>a {
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    color: #fdfdfb;
    padding: 8px 20px;
}

/*
    Form for signing up is in the footer.
*/

.footer form {
    background-color: #1da3b8;
    padding: 20px 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 226px;
}

.footer form .input-prepend input {
    padding-right: 0;
}

.footer h3 {
    color: #fdfdfb;
    letter-spacing: -0.1em;
}

/*
    Twitter feed is also in the footer
*/

.footer .twitter {
    padding: 10px 30px;
}

.footer .twitter h3 {
    color: #fdfdfb;
    letter-spacing: -0.1em;
    /*font-size: 12px;*/
}

/*
    And right below the footer is a small row containing copyright.
*/

.container.bottom {
    background-color: #1da3b8;
}

.container.bottom p {
    color: #fdfdfb;
    font-size: 12px;
    line-height: 20px;
    padding: 0;
    margin: 8px 0;
}

/*
    Sign up and sign in form styles
*/

div.signin {
    width: 400px;
    background-color: #f5f5f5;
    padding: 10px 20px 10px 20px;
    border: 1px solid #e3e3e3;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

div.signin div.steps {
    height: 200px;
    overflow: hidden;
    position: relative;
}

div.signin div.step {
    height: 198px;
    width: 390px;
    padding: 5px;
}

.slideup-leave, .slideup-enter {
    -webkit-transform: translate3d(0, 0, 0);
}

.slideup-enter {
    position: absolute;
    top: 200px;
    opacity: 0;
}

.slideup-enter.slideup-enter-active {
    -webkit-transition: all 400ms cubic-bezier(0.000, 1, 0.495, 1);
    -webkit-transition: all 400ms cubic-bezier(0.000, 1.225, 0.495, 1.145);
    -moz-transition: all 400ms cubic-bezier(0.000, 1.225, 0.495, 1.145);
    -ms-transition: all 400ms cubic-bezier(0.000, 1.225, 0.495, 1.145);
    -o-transition: all 400ms cubic-bezier(0.000, 1.225, 0.495, 1.145);
    transition: all 400ms cubic-bezier(0.000, 1.225, 0.495, 1.145);

    -webkit-transition-timing-function: cubic-bezier(0.000, 1, 0.495, 1);
    -webkit-transition-timing-function: cubic-bezier(0.000, 1.225, 0.495, 1.145);
    -moz-transition-timing-function: cubic-bezier(0.000, 1.225, 0.495, 1.145);
    -ms-transition-timing-function: cubic-bezier(0.000, 1.225, 0.495, 1.145);
    -o-transition-timing-function: cubic-bezier(0.000, 1.225, 0.495, 1.145);
    transition-timing-function: cubic-bezier(0.000, 1.225, 0.495, 1.145);

    transition-delay: 0.400s;
    -webkit-transition-delay: 0.400s;

    top: 0;
    opacity: 1;
}

.slideup-leave {
    position: absolute;
    top: 0;
    opacity: 1;
}

.slideup-leave.slideup-leave-active {
    -webkit-transition: all 400ms cubic-bezier(0.205, 0, 0.920, 0);
    -webkit-transition: all 400ms cubic-bezier(0.205, -0.180, 0.920, -0.155);
    -moz-transition: all 400ms cubic-bezier(0.205, -0.180, 0.920, -0.155);
    -ms-transition: all 400ms cubic-bezier(0.205, -0.180, 0.920, -0.155);
    -o-transition: all 400ms cubic-bezier(0.205, -0.180, 0.920, -0.155);
    transition: all 400ms cubic-bezier(0.205, -0.180, 0.920, -0.155);

    -webkit-transition-timing-function: cubic-bezier(0.205, 0, 0.920, 0);
    -webkit-transition-timing-function: cubic-bezier(0.205, -0.180, 0.920, -0.155);
    -moz-transition-timing-function: cubic-bezier(0.205, -0.180, 0.920, -0.155);
    -ms-transition-timing-function: cubic-bezier(0.205, -0.180, 0.920, -0.155);
    -o-transition-timing-function: cubic-bezier(0.205, -0.180, 0.920, -0.155);
    transition-timing-function: cubic-bezier(0.205, -0.180, 0.920, -0.155);

    top: -200px;
    opacity: 0;
}


form p.callout {
    font-size: 12px;
    line-height: 14px;
    color: #999999;
    float: left;
    width: 180px;
    margin-right: 10px;
}

form a.back {
    position: relative;
    left: -34px;
    top: -4px;
    font-size: 11px;
    color: #d20f17;
    text-decoration: none;
}

form .vinegar, form .honey {
    position: absolute;
    left: -2310px;
}





