/*
    Jobs
*/

/* general */

.jobs ul {
    clear: both;
    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.jobs li {
    display: inline-block;
    font-size: 13px;
}

/* job-stack */

.jobs div.job-stack {
    position: relative;
    border: 10px solid #ddeeee;
    height: 100px;
    margin-bottom: 20px;
    transition: height linear 0.125s;
}

.jobs div.job-stack.open {
    height: 210px;
}

/* job-tabs */

.jobs div.job-tabs {
    position: relative;
    width: 940px;
    height: 100px;
    z-index: 10;
}

.jobs div.job-tabs > ul {
    position: absolute;
    left: -10px;
    width: 950px;
    background-color: #ddeeee;
}

.jobs div.job-tabs > ul > li {
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #21b6ce;
    text-align: center;
    vertical-align: top;
}

.jobs div.job-tabs > ul > li > div {
    width: 160px;
    height: 80px;
}

.jobs div.job-tabs > ul > li .btn {
    text-align: center;
    font-size: 10px;
}

.jobs div.job-tabs > ul > li .default {
    text-align: left;
    font-size: 13px;
}

.jobs div.job-tabs > ul > li:first-child .btn {
    color: #fcc769;
    width: 128px;
}

.jobs div.job-tabs > ul > li:nth-child(2) .btn {
    color: #1da3b8;
    width: 128px;
}

.jobs div.job-tabs > ul > li {
    transition-delay: 0.100s;
    -webkit-transition-delay: 0.100s;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.jobs .job-stack.source div.job-tabs li.source,
.jobs .job-stack.destination div.job-tabs li.destination,
.jobs .job-stack.content div.job-tabs li.content,
.jobs .job-stack.action div.job-tabs li.action,
.jobs .job-stack.status div.job-tabs li.status
{
    transition-delay: 0.01s;
    -webkit-transition-delay: 0.01s;
    padding-bottom: 20px;
    margin-bottom: 0;
}

/** job-detail */

.jobs div.job-detail {
    position: absolute;
    width: 940px;
    height: 100px;
    overflow: hidden;
    z-index: 2;
    bottom: 0;
}

.jobs div.job-detail > ul {
    position: absolute;
    left: -10px;
    white-space: nowrap;
}

.jobs div.job-detail > ul > li {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    background-color: #ffffee;
    color: #21b6ce;
    text-align: center;
    vertical-align: top;
}

.jobs div.job-detail > ul > li > div {
    width: 160px;
    height: 80px;
}
