/*
    Jobs
*/

/* general */

.jobs ul {
    clear: both;
    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.jobs li {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
}

/* job-stack */

.jobs div.job-stack {
    position: relative;
    border: 10px solid #ddeeee;
    height: 100px;
    margin-bottom: 20px;
    transition: height linear 0.125s;
}

.jobs div.job-stack.open {
    height: 210px;
}

/* job-tabs row */

.jobs div.job-tabs {
    position: relative;
    width: 940px;
    height: 100px;
    z-index: 10;
}

.jobs div.job-tabs > ul {
    position: absolute;
    left: -10px;
    width: 950px;
    background-color: #ddeeee;
}

/* The job tab itself takes care of a bottom margin that functions as a
   border separation.
*/

.jobs div.job-tabs > ul > li {
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #21b6ce;
    text-align: center;
    vertical-align: top;
    transition-delay: 0.100s;
    -webkit-transition-delay: 0.100s;
}

/* A delayed transition takes care of show/hide on the bottom of the tab row */

.jobs .job-stack.source div.job-tabs li.source,
.jobs .job-stack.destination div.job-tabs li.destination,
.jobs .job-stack.content div.job-tabs li.content,
.jobs .job-stack.action div.job-tabs li.action,
.jobs .job-stack.status div.job-tabs li.status
{
    transition-delay: 0.01s;
    -webkit-transition-delay: 0.01s;
    padding-bottom: 20px;
    margin-bottom: 0;
}


.jobs div.job-tabs > ul > li > div {
    position: relative;
    width: 160px;
    height: 80px;
}

/* Job tab buttons */

.jobs div.job-tabs > ul > li.action .btn {
    width: 132px;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
}

.jobs div.job-tabs > ul > li.action .btn {
    color: #4a8b5c;
    font-size: 17.5px;
    text-align: center;
    width: auto;
    padding: 11px 19px;
}




/* There are several different button layouts for the tabs.
   .icons-button   - contains one or two icons and one or two rows of text; both of
                     these elements are vertically centered within the button. The icon
                     is to the far left and the text is left-justified to the right of
                     the icon.
   .service-button - holds a service logo and one or two rows of text beneath it. The
                     logo/text group is vertically centered in the button and all content
                     is horizontally centered.
   .text-button    - contains one or more lines of text centered both vertically and
                     horizontally in the button.

    Each of these buttons will follow a general semantic structure:
    <div class="icons-button">
        <div class="icons"> <i/> or <img/> </div>
        <div class="text"> ... </div>
    </div>
*/

.icons-button {
    display: table;
    width: 132px;
    height: 55px;
}

.icons-button span {
    display: table-cell;
    vertical-align: middle;
}

.icons-button span.icons {
    text-align: center;
}

.icons-button span.icons i {
    margin-right: 0.35em;
}

.service-button {
}

.service-button span {
    display: block;
    text-align: center;
}

.service-button span.text {
    overflow: hidden;
}


/** job-detail */

.jobs div.job-detail {
    position: absolute;
    width: 960px;
    height: 100px;
    overflow: hidden;
    z-index: 2;
    left: -10px;
    bottom: 0;
}

.jobs div.job-detail > ul {
    position: absolute;
    top: 0;
    transition: left linear 0.125s;
    left: 0;
    white-space: nowrap;
}

.jobs div.job-detail > ul > li {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    /*background-color: #ffffee;*/
    color: #21b6ce;
    text-align: center;
    vertical-align: top;
    white-space: normal;
}

.jobs div.job-detail > ul > li > div {
    width: 160px;
    height: 80px;
}

/* The source/destination detail rows */

.jobs div.job-detail > ul.job-services > li > div {
    width: auto;
}



.jobs ul.job-services .service {
    /*background-color: #ffeeff;*/
    position: relative;
    overflow: hidden;
    transition: all linear 0.25s;
    width: 160px;
    height: 80px;
}

.jobs .job-services .service.active {
    /*width: 730px;*/
}

.jobs .job-services .service.active.block2 {
    width: 350px;
}

.jobs .job-services .service.active.block3 {
    width: 540px;
}

.jobs .job-services .service.active.block4 {
    width: 730px;
}

.jobs .job-services .service.active.block2 div.job-auth {
    width: 190px;
}

.jobs .job-services .service.active.block3 div.job-auth {
    width: 380px;
}

.jobs .job-services .service.active.block4 div.job-auth {
    width: 570px;
}

.jobs .job-services .service .btn-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 80px;
    background-color: #ffffff;
    z-index: 2;
}

.jobs .job-services .service .job-auth {
    position: absolute;
    right: 0;
}

.jobs .job-services .job-auth p {
    font-size: 90%;
    margin: 0;
    text-align: center;
}

.jobs .job-services .job-auth p.error {
    font-size: 90%;
    color: #990000;
    margin: 4px 8px 0 0;
    text-align: right;
}

.jobs .job-services .job-auth form {
    white-space: nowrap;
    margin: 0;
}

.jobs .job-services .job-auth form input[type="email"],
.jobs .job-services .job-auth form input[type="text"],
.jobs .job-services .job-auth form input[type="password"] {
    width: 180px;
}


/* The scroll buttons */

.jobs .job-stack .job-detail > div {
    position: absolute;
    top: 0;
    background-color: #ddeeee;
    width: 10px;
    height: 100px;
    z-index: 5;
    line-height: 100px;
    font-size: 14px;
    color: #b8c7c8;
    transition: all linear 0.125s;
    cursor: pointer;
    text-align: center;
}

.jobs .job-stack .job-detail > div.left {
    left: 0;
    margin-left: -1px;
}

.jobs .job-stack .job-detail > div.right {
    right: 0;
}

.jobs .job-stack .job-detail > div:hover {
    background-color: #ccdddd;
    width: 30px;
    font-size: 20px;
    color: #f1feff;
}

.jobs .job-stack .job-detail > div.left:hover {
    margin-left: -5px;
}


/* The content detail row */

.jobs .job-content li:first-child:after {
    content: url("/img/content/angled_separator.png");
    position: absolute;
    left: 190px;
    top: 20px;
}

.jobs .job-content div.static {
    text-align: left;
}

.jobs .job-content div.static a {
    font-size: 80%;
}

.jobs .job-content li.wide4 > div {
    width: 728px;
}

.jobs .job-content li.wide4 .btn {
    vertical-align: baseline;
    margin: 1em 5px;
    padding: 10px 12px;
    font-size: 16px;
}

.jobs .job-content li.wide4 .btn i {
    font-size: 18px;
}

.jobs .job-content p.info {
    font-size: 90%;
    color: #999999;
    transition: opacity linear 0.125s;
}

.jobs .job-content a.disabled:hover ~ p.info {
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    opacity: 1;
}

.jobs .job-content a.disabled ~ p.info {
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    opacity: 0;
}




/* Tab Button for Source and Destination accounts. Accompanies
   the mio-tab-btn-account directive.
*/

.mio-tab-btn-account {
    display: block;
    position: relative;
    width: 160px;
    height: 80px;
    overflow: hidden;
}

.mio-tab-btn-account p {
    margin: 0.25em 0 0 0;
    text-align: center;
    font-size: 12px;
}

.mio-tab-btn-account p.lbl {
    margin: 0;
    text-align: left;
    font-size: 13px;
}

.mio-tab-btn-account.source .btn-trans td,
.mio-tab-btn-account.source p {
    color: #fcc769;
}

.mio-tab-btn-account.destination .btn-trans td {
    color: #1da3b8;
}

.mio-tab-btn-account .btn i {
    margin: 0 0.25em 0 0;
    font-size: 26px;
}

.mio-tab-btn-account table {
    width: 100%;
    height: 60px;
}

.mio-tab-btn-account td {
    vertical-align: middle;
    line-height: 16px;
    text-align: center;
}

.mio-tab-btn-account .pane {
    position: absolute;
    width: 160px;
    height: 80px;
}

.mio-tab-btn-account  div.remove {
    position: absolute;
    font-size: 20px;
    transition: all linear 0.05s;
    color: #990000;
    opacity: 0;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.mio-tab-btn-account .btn:hover ~ div.remove {
    opacity: 0.3;
}

.mio-tab-btn-account div.remove:hover {
    font-size: 30px;
    opacity: 1;
    top: 0;
    right: 0;
}

.mio-tab-btn-account .slider-hide,
.mio-tab-btn-account .slider-show {
    transition: all linear 0.125s;
}

.mio-tab-btn-account .slider-show {
    left: -100%;
}

.mio-tab-btn-account .slider-show.slider-show-active {
    left: 0;
}

.mio-tab-btn-account .slider-hide {
    left: 0;
}

.mio-tab-btn-account .slider-hide.slider-hide-active {
    left: 100%;
}


/* Content button in the job's tab bar */

.mio-tab-btn-content table {
    width: 100%;
    height: 60px;
    color: #4a8b5c;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}

.mio-tab-btn-content table td i {
    margin-right: 0.25em;
    font-size: 26px;
}



