
body {
    margin: 0;
    font-family: "AmbleLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #6b6b6b;
    background-color: #ffffff;
}

a {
    color: #4dc5d8;
}

p {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #21b6ce;
    font-family: "AmbleBold", sans-serif ;
}

.page-header {
    border-bottom: 1px solid #eeeeee;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    padding: 6px 6px 6px 6px;
    font-size: 13px;
    color: #555555;
    border: 1px solid #ddebec;
}

.input-append .add-on, .input-prepend .add-on {
    padding: 6px 6px;
}


.well {
    background-color: #f5f5f5;
}

.btn {
    color: #333333;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    background-position: 0 0;
    transition: none;
    outline: none;
    outline-offset: 0;
}


.btn.disabled, .btn[disabled] {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";  /* IE 8 */
    filter: alpha(opacity=30);      /* IE 5-7 */
    -moz-opacity: 0.3;              /* Netscape */
    -khtml-opacity: 0.3;            /* Safari 1.x */
    opacity: 0.3;}                  /* Good browsers */

.btn-primary {
    background-color: #006dcc;
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #21b6ce, #21b6ce);
    background-image: -ms-linear-gradient(top, #21b6ce, #21b6ce);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#21b6ce), to(#21b6ce));
    background-image: -webkit-linear-gradient(top, #21b6ce, #21b6ce);
    background-image: -o-linear-gradient(top, #21b6ce, #21b6ce);
    background-image: linear-gradient(top, #21b6ce, #21b6ce);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#21b6ce, endColorstr=#21b6ce, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #21b6ce;
}

.btn-header {
    background-color: #1da3b8;
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #1da3b8, #1da3b8);
    background-image: -ms-linear-gradient(top, #1da3b8, #1da3b8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da3b8), to(#1da3b8));
    background-image: -webkit-linear-gradient(top, #1da3b8, #1da3b8);
    background-image: -o-linear-gradient(top, #1da3b8, #1da3b8);
    background-image: linear-gradient(top, #1da3b8, #1da3b8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1da3b8, endColorstr=#1da3b8, GradientType=0);
    border-width: 0;
}

.btn-header:hover,
.btn-header:active,
.btn-header.active,
.btn-header.disabled,
.btn-header[disabled] {
    background-color: #1da3b8;
}

.btn-warning {
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #fc8169, #fc8169);
    background-image: -ms-linear-gradient(top, #fc8169, #fc8169);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc8169), to(#fc8169));
    background-image: -webkit-linear-gradient(top, #fc8169, #fc8169);
    background-image: -o-linear-gradient(top, #fc8169, #fc8169);
    background-image: linear-gradient(top, #fc8169, #fc8169);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fc8169, endColorstr=#fc8169, GradientType=0);
    border-width: 0;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    background-color: #fc8169;
}

.btn-danger {
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ee5f5b, endColorstr=#bd362f, GradientType=0);
    border-width: 0;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    background-color: #bd362f}

.btn-success {
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #fcc769, #fcc769);
    background-image: -ms-linear-gradient(top, #fcc769, #fcc769);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcc769), to(#fcc769));
    background-image: -webkit-linear-gradient(top, #fcc769, #fcc769);
    background-image: -o-linear-gradient(top, #fcc769, #fcc769);
    background-image: linear-gradient(top, #fcc769, #fcc769);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcc769, endColorstr=#fcc769, GradientType=0);
    border-width: 0;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #fcc769;
}

.btn-info {
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d1d1d1, endColorstr=#d1d1d1, GradientType=0);
    border-width: 0;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-color: #d1d1d1;
}


.btn-large .caret {
    border-top: 6px solid rgb(255, 255, 255);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    margin-top: 8px;
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #1da3b8;
}

