<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="5 seconds">
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%6.6relative{6} [%10.10thread] %highlight(%-5level [%30.30logger{30}] %m) %n%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.hazelcast" level="WARN"/>
    <logger name="com.amazonaws.auth" level="WARN"/>
    <logger name="com.amazonaws.request" level="WARN"/>

    <!--<logger name="workflow.lib.swfClient" level="INFO"/>-->

    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>
</configuration>