<div class="container outer header">
    <div class="hero">
        <div class="row-fluid">
            <div class="span7 center">
                <img src="/img/header/hero/work/worker.png" width="453" height="298"
                     alt="worker"/>
            </div>
            <div class="span5">
                <h1>Got a new gig?</h1>

                <h2 class="cursive hicolor">we've got you covered</h2>

                <p>Don't leave your important correspondence behind</p>
                <a class="btn btn-large btn-success" href="#">Migrate Now!</a>
            </div>
        </div>
    </div>
</div>

<div class="container inner">
    <div class="row-fluid marketing">
        <div class="span3 center">
            <img src="/img/marketing/fastest.png" width="150" height="138" alt="Fastest">
            <h4>The Fastest Around</h4>

            <p>
                We spin up 1,000’s of servers when the load demands it. No one else
                will transfer your files faster.
            </p>
        </div>
        <div class="span3 center">
            <img src="/img/marketing/types.png" width="150" height="138" alt="More types">
            <h4>Not Just Emails</h4>

            <p>
                Not only do we safely migrate your emails from one service to another, we
                will also transfer your contacts, documents, calendars, images and video.
            </p>
        </div>
        <div class="span3 center">
            <img src="/img/marketing/education.png" width="150" height="138"
                 alt="Education discount">
            <h4>.EDU Discount</h4>

            <p>
                We’re here to help recent graduates by offering our service for only $5
                when moving an email address ending in “.edu”.
            </p>
        </div>
        <div class="span3 center">
            <img src="/img/marketing/more_sources.png" width="150" height="138"
                 alt="More sources">
            <h4>Multiple Sources</h4>

            <p>
                Most migration services restrict you to transfer from one account to
                another. Our service allows you to transfer from any number of accounts
                to a single destination.
            </p>
        </div>
    </div>
</div>

<div class="container outer features">
    <div class="container inner">
        <div class="row-fluid">
            <div class="span12 center">
                <img src="/img/marketing/separator.png" width="103" height="103"
                     alt="migrate"
                     style="position: relative; z-index: 1000; margin-top: -51px"/>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span10 offset1">
                <div class="row-fluid" style="margin-top: 20px;">
                    <div class="span4 center">
                        <h4 class="hicolor cursive">Customer Focus</h4>

                        <p>
                            We don’t hide our process (or ourselves) behind a website.
                            We are here to help if you need us
                        </p>
                    </div>
                    <div class="span4 center">
                        <h4 class="cursive hicolor">Contemporary UI</h4>

                        <p>
                            We provide a first-class user experience that will have you
                            submitting jobs with no hand holding needed
                        </p>
                    </div>
                    <div class="span4 center">
                        <h4 class="cursive hicolor">Fastest Migration Possible</h4>

                        <p>
                            We have thousands of servers at our disposal ready to
                            transfer your content at warp speed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container outer features">
    <div class="container inner">
        <div class="row-fluid">
            <div class="span12">
                <div class="span10 offset1">
                    <div class="span4 center">
                        <h4 class="hicolor cursive">Multiple Source Accounts</h4>

                        <p>
                            Transfer your content to a single destination account from
                            one, two or a dozen source accounts
                        </p>
                    </div>
                    <div class="span4 center">
                        <h4 class="cursive hicolor">Access for a Month</h4>

                        <p>
                            Re-run your job any number of times for a 30-day period.
                            This is great for catching those last minute emails
                        </p>
                    </div>
                    <div class="span4 center">
                        <h4 class="cursive hicolor">Education Discount</h4>

                        <p>
                            Transfer your college (.edu) emails to your “adult” email
                            account for only $4.<sup>99</sup>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container outer features">
    <div class="container inner">
        <div class="row-fluid">
            <div class="span12">
                <div class="span10 offset1">
                    <div class="span4 center">
                        <h4 class="hicolor cursive">Real-Time Progress</h4>

                        <p>
                            Unlike our competitors, we will always show you your current
                            job progress with real-time statistics
                        </p>
                    </div>
                    <div class="span4 center">
                        <h4 class="cursive hicolor">Job Completion Reports</h4>

                        <p>
                            We will inform you when a job completes along with detailed
                            statistics on the transfer
                        </p>
                    </div>
                    <div class="span4 center">
                        <h4 class="cursive hicolor">Re-run Jobs</h4>

                        <p>
                            For 30-days from your initial payment, you may choose to
                            re-run your migration job with a single click
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container outer features">
    <div class="container inner">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class="span10 offset1">
                        <div class="row-fluid">
                            <div class="span4 center">
                                <h4 class="hicolor cursive">Unlimited Transfer
                                    Support</h4>

                                <p>
                                    File upload of thousands of user accounts will kick
                                    off
                                    massive migration jobs
                                </p>
                            </div>
                            <div class="span4 center">
                                <h4 class="cursive hicolor">Google Apps Domains</h4>

                                <p>
                                    In the case of acquisitions, name changes or spin
                                    offs, we
                                    make it painless to move everything to a new Google
                                    Apps
                                    domain
                                </p>
                            </div>
                            <div class="span4 center">
                                <h4 class="cursive hicolor">Detailed Statistics</h4>

                                <p>
                                    We will show you transfer statistics for the entire
                                    job or
                                    any individual transfer in progress
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
