<div class="sign-up" x-ng-controller="signup-controller">
    <form name="signup" novalidate ng-submit="submit()">

        <div class="header clearfix" style="text-align: left;">
            <h3>Sign Up</h3>
            <span><a href="#/signin">sign in</a></span>
        </div>

        <div alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <span ng-bind-html-unsafe="alert.msg"></span>
        </div>

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><span class="icon-user gray"></span></span>
                <input type="text" name="firstname" ng-model="firstname" placeholder="First Name" required>
            </div>
            <div x-valid-tooltip input-target="signup.firstname">
                <span ng-show="signup.firstname.$error.required">Please provide your first name</span>
            </div>
        </div>

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope gray"></i></span>
                <input name="email" type="email" x-ng-model="email" placeholder="Email" required>
            </div>
            <div x-valid-tooltip input-target="signup.email">
                <span ng-show="signup.email.$error.required">An email address is required</span>
                <span ng-show="signup.email.$error.email">This is not a valid email address</span>
            </div>
        </div>

        <div class="controls submit">
            <input ng-disabled="signup.$invalid" class="btn btn-success" type="submit" value="Sign Up"/>
        </div>
    </form>
</div>

