<div class="iub_container iub_base_container">
    <div id="wbars">
        <div class="iub_content simple_pp">
            <div class="iub_header">
                <h1>Terms of service</h1>
                <p>This page is a summary of the most important aspects of the terms of service of iubenda, but it does not replace the <a href="https://www.iubenda.com/en/user/tos/legal?height=800&amp;ifr=true">full version</a></p>
            </div>
            <ul class="cf">
                <li class="one_line_col">
                    <h2>The service</h2>
                    <ul>
                        <li>
                            <div class="iconed icon_temple_24">
                                <h3>About iubenda</h3>
                                <p>Iubenda is a tool to ease privacy policy creation. It is utilised independently by the User and <strong>in no way represents professional consultancy</strong>.</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="one_line_col">
                    <h2>The privacy policies generated</h2>
                    <ul class="for_boxes">
                        <li>
                            <div class="iconed icon_box_24">
                                <h3>Privacy policy creation</h3>
                                <p>The User has full power to edit the content of the Privacy Policy and must ascertain compliance with the law and data collection on his or her website.</p>
                            </div>
                        </li>
                        <li>
                            <div class="iconed icon_tools_24">
                                <h3>Integration of the privacy policy</h3>
                                <p>The privacy policy generated is hosted by Iubenda and integrated on the website through an embedding code.</p>
                            </div>
                        </li>
                        <li>
                            <div class="iconed icon_paper_24">
                                <h3>Use of the privacy policy</h3>
                                <p>The privacy policy provided by iubenda can be integrated <strong>only</strong> through the embedding code. Copy and paste is not allowed.</p>
                            </div>
                        </li>
                        <li>
                            <div class="iconed icon_man_24">
                                <h3>Liability</h3>
                                <p>The User <strong>is liable</strong> for the compliance of the privacy policy with the law and data collection.</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="one_line_col">
                    <h2>The privacy policy of iubenda</h2>
                    <ul class="for_boxes">
                        <li>
                            <div class="iconed icon_keyhole_24">
                                <h3>Data of Users subscribing to iubenda</h3>
                                <p>In order to understand how your personal data is collected, be sure to read <a href="https://www.iubenda.com/privacy-policy/www-iubenda-com/en">the complete iubenda privacy policy</a>, part of these terms of service.</p>
                            </div>
                        </li>
                        <li>
                            <div class="iconed icon_keyhole_24">
                                <h3>Data collected by the privacy policies generated</h3>
                                <p>The embedding code of iubenda includes a views counter, which does not, however, collect any personal data about the end Users.<br>When a privacy policy is opened, iubenda collects statistical data through third party services, such as Google Analytics.</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="iub_footer">
                <p>
                    Latest update: February 28, 2012
                </p>
                <a href="https://www.iubenda.com/en/user/tos/legal?height=800&amp;ifr=true" class="show_comp_link">Show complete version</a>
            </div>
        </div>
    </div>
</div>


<div id="wbars">
    <div class="iub_content legal_pp">
        <div class="iub_header">
            <h1>Terms of service</h1>
            <p>This is the full version of the terms of service of iubenda.</p>
        </div>
        <div class="one_line_col">
            <p>This website ("Website") is the property of and is under the management of</p>
            <p>
                Iubenda Srl,<br>
                Via Monti, 52 - 20123 Milano (Italy)<br>
                C.F./VAT Reg. No.: IT07347120961<br>
                Share Capital: 12987 Euros (fully paid up)
            </p>
            <p>(hereafter "Company" or "Iubenda").</p>
            <p>This agreement (Contract) governs the supply of services by Iubenda to internet service providers that process personal data (Customer). Upon registration, the Customer must read and accept the terms and conditions set out below (Terms) that Iubenda may modify and/or supplement at any time after publication on www.iubenda.com.</p>
            <p>The Customer is therefore advised to read these Terms carefully and save or print a copy for future reference.</p>
        </div>
        <div class="one_line_col">
            <h2>Services</h2>
            <p>Iubenda provides the Customer with Privacy Policy Templates, (Privacy Policy Templates or Privacy Policy) for websites, mobile applications or other software (Customer Site) that collect and process the personal information of their users or third parties (Users).</p>
            <p>The Privacy Policy Templates are provided based on the service or product the Customer supplies and the way in which personal data collected on the Customer Site are processed.</p>
            <p>Iubenda facilitates the creation of the Privacy Policy for the Customer Site providing a standard framework and some default clauses that explain to Users in a clear and understandable way the type of data collected, the purposes for which they are processed and the characteristics of third party services used by the Customer Site that may process Users’ personal information. These services are divided into different categories according to the reason for processing (e.g. statistics, comments, social networks, etc.) and the service provider name (e.g. Google Analytics, Google Adsense, Twitter, etc).</p>
            <p>The Privacy Policy Template is stored on the Iubenda servers (or managed by third parties for Iubenda) and is automatically displayed on the Customer Site thanks to a source code displaying a link to the privacy policy itself.</p>
            <p>The Customer may add, remove and modify the contents of the Privacy Policy Template provided by Iubenda, which is, by its very nature, non-definitive, as a simple form, produced automatically from the information given by the Customer, and adjusted in a responsible way according to the specific nature of the personal data processing carried out by the Customer Site. The source code may not be changed, without explicit authorization by Iubenda.</p>
            <p>The service in no way includes obtaining User consent to the processing of personal data by the Customer, or notifying the National Authorities of any specific processing of personal or sensitive data whenever required by the law.</p>
            <p>Iubenda provides no legal or professional advice of any kind concerning the privacy policy templates made available to the Customer, and invites the Customer to always seek assistance from a lawyer for the validation of the final privacy policy.</p>
            <p>The privacy policy provided by Iubenda is embedded using an embedding code that shows a link to the policy itself, on the Iubenda server. It is not possible to modify the embedding code without specific authorisation.</p>
            <p>Iubenda reserves the right to temporarily suspend the Service for maintenance as necessary, or to update the system, while making sure that Customers are informed by means of constant updates appearing on the Iubenda Website.</p>
            <p>Iubenda authorises the use of a Privacy Policy generated by this Website only on the Customer Site and solely for the duration of the Service.</p>
        </div>
        <div class="one_line_col">
            <h2>Purchase</h2>
            <p>The Services may be purchased only after express and total acceptance of these Terms and only upon payment of the amounted stated when the Service is accepted.</p>
            <p>If the service is being offered to the Customer free of charge, the Company reserves the right to terminate at any moment, also without prior notice, or to request payment for continued use of the service.</p>
            <p>Before completing the order, the Customer will be able check all choices, verify the total amount of the order and correct any data input errors.</p>
        </div>
        <div class="one_line_col">
            <h2>Payment and invoicing</h2>
            <p>The Customer undertakes to pay the amount due by credit card or PayPal account. The payment is entirely handled by PayPal and no information regarding the credit/debit card of the Customer or his/her bank account is in any way processed or stored by Iubenda.</p>
            <p>The Customer will receive a confirmation email from PayPal for the payment, and another confirmation email from Iubenda to the email address used for the registration or the payment.</p>
            <p>It is understood that the order placed by the Customer is only a proposal and the Contract will be deemed to be executed only at such time as the Customer will receive the confirmation email from Iubenda.</p>
        </div>
        <div class="one_line_col">
            <h2>Duration</h2>
            <p>The duration of this Contract is one year from the date of payment for the Service as set out in the confirmation email (Final Term).</p>
            <p>The Contract will be automatically renewed upon expiry for a further year if the Customer does not exercise the right of cancellation by sending a termination notice by email to info@iubenda.com<script type="text/javascript">
                /* <![CDATA[ */
                (function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
                /* ]]> */
            </script> at least 15 days before the final term of the Contract.</p>
        </div>
        <div class="one_line_col">
            <h2>Copyright</h2>
            <p>The trade name "Iubenda" together with all trademarks, visual or otherwise, and all other signs, trade names, service brands, brand names, company names, illustrations and logos that appear are, and remain the exclusive property of the company and/or its licensees, and are protected by the laws regulating brand names and by the relevant international treaties. These rights are reserved to Iubenda.</p>
            <p>Upon termination of the Contract, the Customer undertakes not to use and not to reproduce in any way the privacy policy template provided by Iubenda. Any subsequent privacy policies appearing on the Customer's Website or on other associated sites will be considered in violation of copyright if the contents of the texts reproduced do not differ from that utilised by the Customer and provided by Iubenda by at least 90% (the degree of plagiarism will be calculated using “Turnitin” software or other software agreed by the parties).</p>
        </div>
        <div class="one_line_col">
            <h2>Limitations of responsibility</h2>
            <p>Under current legislation, Iubenda accepts liability for damages in contract and tort only when they are immediate and the direct consequence of wilful misconduct or gross negligence in the performance of the Service.</p>
            <p>Iubenda accepts no liability whatsoever for any violation or breach by the Customer of any national and European legislation on privacy. In particular Iubenda declines any liability (by way of, but not limited to, example) in the case of (i) failure by the Customer to obtain User consent to the processing of their personal data (ii) failure to notify the national and European Authorities of the processing of personal data where required by law (iii) failure to request consent for the transfer of Users’ personal data outside the European Union.</p>
            <p>The Parties mutually agree that Iubenda shall not be liable for any claims or damage due to force majeure or events beyond the control of Iubenda.</p>
        </div>
        <div class="one_line_col">
            <h2>Data protection</h2>
            <p>The User's personal data is handled by the Company as regulated by <a href="https://www.iubenda.com/privacy-policy/www-iubenda-com/en">the Privacy Policy of the Company</a>.</p>
        </div>
        <div class="one_line_col">
            <h2>Assignment</h2>
            <p>Iubenda reserves the right to transfer, concede, put out for novation or subcontract all or some of the rights or obligations arising from these Terms, on condition that the rights of the Customer provided for under these Terms are in no way prejudiced.</p>
            <p>The Customer shall not cede or transfer in any other way any of his or her rights and obligations within the meaning of the present Terms without the written authorisation of the Company.</p>
        </div>
        <div class="one_line_col">
            <h2>Changes to the present terms</h2>
            <p>Iubenda reserves the right to make changes to the present Terms at any time. The Customer will be promptly advised of the changes by publication of the new terms on the Website. The Customer may accept the new Terms or request the termination of the Contract within 20 days of publication on the Site. In the event of termination, the Customer is entitled to the reimbursement of the quota of payment for the Service not utilized.</p>
        </div>
        <div class="one_line_col">
            <h2>Independence of clauses</h2>
            <p>Each clause of these Terms shall be interpreted separately and independently of the others. If a clause is deemed invalid, void or in any case without efficacy, it shall be considered independent of the others and shall not compromise the validity or the effect of the other clauses in these Terms.</p>
        </div>
        <div class="one_line_col">
            <h2>Written Information</h2>
            <p>The User accepts that communications with the company are mainly in electronic format. The Company will contact the User via e-mail or will publish information in the form of notices on the Website.</p>
            <p>For the purposes of the agreement, the User accepts this means of electronic communication and is aware that all agreements, notices, information and other communications that Iubenda provides in electronic format satisfy the legal requirement for written communication. This clause does not infringe the statutory rights of the User.</p>
        </div>
        <div class="one_line_col">
            <h2>Communication</h2>
            <p>All communication addressed to Iubenda must be sent to info@iubenda.com.<script type="text/javascript">
                /* <![CDATA[ */
                (function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
                /* ]]> */
            </script></p>
            <p>Communications shall be deemed to have been received or duly notified within seven days if published on our Website, within 24 hours if sent via e-mail, or ten days after the date of posting by mail service. As proof of posting, it shall be sufficient in the event of the use of a postal service, that the letter has been correctly addressed or that it was printed and sent correctly, while in the event of publication on the Website, that the communication was duly published, or in the case of email, that the email was sent to the specified email address.</p>
        </div>
        <div class="one_line_col">
            <h2>Governing law and Place of Jurisdiction</h2>
            <p>These Terms and all commercial transactions relating to this Website are subject to Italian law and all disputes shall be under the jurisdiction of the Italian courts, and solely at the Court of Milan.</p>
        </div>
        <div class="one_line_col">
            <div class="box_primary box_10 definitions expand collapsed">
                <h3 class="expand-click w_icon_24" style="background-image: url(/images/site/icons/32/ribbon.png);">Definitions</h3>
                <div class="expand-content" style="display: none;">
                    <h4>Company</h4>
                    <p>The Owner of the Website to which the Privacy Policy form refers.</p>
                    <h4>Privacy Policy template</h4>
                    <p>The document containing a proposed privacy policy for the User's Website drawn up on the basis of a selection by the User of sections of it as suggested by Iubenda and grouped into "services".</p>
                    <h4>Service</h4>
                    <p>A service or product offered to the User by Iubenda.</p>
                    <h4>User</h4>
                    <p>A physical or legal person that, for the purpose of running a website, uses the Products or Services provided by the Company.</p>
                </div>
            </div>
        </div>
        <div class="iub_footer">
            <p>
                Latest update: February 28, 2012
            </p>
            <a href="https://www.iubenda.com/en/user/tos?ifr=false" class="show_comp_link">Show simplified version</a>
        </div>
    </div>
</div>


