<div class="email">
    <form name="email" novalidate ng-submit="submit()">

        <h3>Email</h3>

        <div alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <span ng-bind-html-unsafe="alert.msg"></span>
        </div>

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope gray"></i></span>
                <input name="email" type="email" x-ng-model="email" placeholder="Email" required>
            </div>
            <div x-valid-tooltip input-target="signin.username">
                <span ng-show="email.email.$error.required">An email address is required</span>
                <span ng-show="email.email.$error.email">This is not a valid email address</span>
            </div>
        </div>

        <div class="controls submit">
            <input ng-disabled="email.$invalid" class="btn btn-success" type="submit" value="Sign In"/>
            <p>New user? Go ahead and put in your email address.</p>
        </div>
    </form>
</div>

