<div data-ng-controller="signin-email-controller">
    <form name="formEmail" novalidate ng-submit="submit()">

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope gray"></i></span>
                <input name="email" type="email" data-ng-model="model.email"
                       placeholder="email" required ng-focus="true" />
            </div>
            <div data-validtip="formEmail.email">
                <span ng-show="formEmail.email.$error.required">An email address is required</span>
                <span ng-show="formEmail.email.$error.email">This is not a valid email address</span>
            </div>
        </div>

        <div class="controls submit">
            <p class="callout">New user? Go ahead and put in your email address.</p>
            <input class="honey" name="username" data-ng-model="honey" type="text" />
            <input ng-disabled="formEmail.$invalid" class="btn btn-success" type="submit" value="Sign In"/>
        </div>
    </form>
</div>

