<div data-ng-controller="signin-password-controller">
    <form name="formPassword" novalidate ng-submit="submit()">

        <div class="controls">
            <div class="input-prepend input-append">
                <span class="add-on"><span class="icon-key gray"></span></span>
                <input data-pass-xray="showPass" type="password" name="password"
                       data-ng-model="password" placeholder="Password" required />
                <span class="add-on"><a data-ng-click="togglePass()"><i class="gray" data-ng-class="showhide"></i></a></span>
            </div>
            <div data-validtip="formPassword.password">
                <span data-ng-show="formPassword.password.$error.required">Please provide a password</span>
            </div>
        </div>

        <div class="controls">
            <input type="checkbox" name="remember" data-ng-model="remember" />
            Remember for 30 days
        </div>

        <div class="controls submit">
            <p class="callout" data-ng-bind-html-unsafe="callout"></p>
            <input class="honey" name="username" data-ng-model="honey" type="text" />
            <input ng-disabled="formPassword.$invalid" class="btn btn-success" type="submit" value="Sign In"/>
        </div>
    </form>
</div>

