<!--<div class="btn-group">
    <button type="button" class="btn btn-primary" data-ng-model="state.step" btn-radio="'email'">email</button>
    <button type="button" class="btn btn-primary" data-ng-model="state.step" btn-radio="'signup'">signup</button>
    <button type="button" class="btn btn-primary" data-ng-model="state.step" btn-radio="'verify'">verify</button>
    <button type="button" class="btn btn-primary" data-ng-model="state.step" btn-radio="'secure'">secure</button>
    <button type="button" class="btn btn-primary" data-ng-model="state.step" btn-radio="'reset'">reset</button>
    <button type="button" class="btn btn-primary" data-ng-model="state.step" btn-radio="'password'">password</button>
    <button type="button" class="btn btn-primary" data-ng-model="state.step" btn-radio="'resetmsg'">resetmsg</button>
    <button type="button" class="btn btn-primary" data-ng-model="state.step" btn-radio="'error'">error</button>
</div>-->
<div data-ng-switch="state.step" data-ng-animate="'slideup'">
    <div class="steps">
        <div data-ng-switch-when="email">
            <div class="step" data-ng-include src="'partials/signin/email.html'" ></div>
        </div>
        <div data-ng-switch-when="signup">
            <div class="step" data-ng-include src="'partials/signin/signup.html'" ></div>
        </div>
        <div data-ng-switch-when="verify">
            <div class="step" data-ng-include src="'partials/signin/verify.html'" ></div>
        </div>
        <div data-ng-switch-when="secure">
            <div class="step" data-ng-include src="'partials/signin/secure.html'" ></div>
        </div>
        <div data-ng-switch-when="reset">
            <div class="step" data-ng-include src="'partials/signin/reset.html'" ></div>
        </div>
        <div data-ng-switch-when="password">
            <div class="step" data-ng-include src="'partials/signin/password.html'" ></div>
        </div>
        <div data-ng-switch-when="resetmsg">
            <div class="step" data-ng-include src="'partials/signin/resetmsg.html'" ></div>
        </div>
        <div data-ng-switch-when="error">
            <div class="step" data-ng-include src="'partials/signin/error.html'" ></div>
        </div>
    </div>
</div>
