<div class="btn-group">
    <button type="button" class="btn btn-primary" ng-model="state.phase" btn-radio="'email'">email</button>
    <button type="button" class="btn btn-primary" ng-model="state.phase" btn-radio="'signup'">signup</button>
    <button type="button" class="btn btn-primary" ng-model="state.phase" btn-radio="'verify'">verify</button>
    <button type="button" class="btn btn-primary" ng-model="state.phase" btn-radio="'secure'">secure</button>
    <button type="button" class="btn btn-primary" ng-model="state.phase" btn-radio="'expire'">expire</button>
    <button type="button" class="btn btn-primary" ng-model="state.phase" btn-radio="'password'">password</button>
    <button type="button" class="btn btn-primary" ng-model="state.phase" btn-radio="'welcome'">welcome</button>
    <button type="button" class="btn btn-primary" ng-model="state.phase" btn-radio="'error'">error</button>
</div>
<div class="signin" data-ng-switch="state.phase" data-ng-animate="'slideup'">
    <div class="steps">
        <div data-ng-switch-when="email">
            <div class="step" data-ng-include src="'partials/signin/email.html'" ></div>
        </div>
        <div data-ng-switch-when="signup">
            <div class="step" data-ng-include src="'partials/signin/signup.html'" ></div>
        </div>
        <div data-ng-switch-when="verify">
            <div class="step" data-ng-include src="'partials/signin/verify.html'" ></div>
        </div>
        <div data-ng-switch-when="secure">
            <div class="step" data-ng-include src="'partials/signin/secure.html'" ></div>
        </div>
        <div data-ng-switch-when="expire">
            <div class="step" data-ng-include src="'partials/signin/expire.html'" ></div>
        </div>
        <div data-ng-switch-when="password">
            <div class="step" data-ng-include src="'partials/signin/password.html'" ></div>
        </div>
        <div data-ng-switch-when="welcome">
            <div class="step" data-ng-include src="'partials/signin/welcome.html'" ></div>
        </div>
        <div data-ng-switch-when="error">
            <div class="step" data-ng-include src="'partials/signin/error.html'" ></div>
        </div>
    </div>
</div>
