<div class="signup" data-ng-controller="signin-signup-controller">
    <form name="formSignup" novalidate data-ng-submit="submit()">

        <div alert data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">
            <span data-ng-bind-html-unsafe="alert.msg"></span>
        </div>

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope gray"></i></span>
                <input name="email" readonly type="email" data-ng-model="signup.email"
                       placeholder="email" required/>
            </div>
            <a href="#" class="icon-stack back" data-ng-click="back()" data-eat-click>
                <i class="icon-circle icon-stack-base"></i>
                <i class="icon-remove icon-light"></i>
            </a>
        </div>

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user gray"></i></span>
                <input name="firstname" type="text" data-ng-model="signup.firstname"
                       placeholder="first name" required data-ng-focus="true"/>
            </div>
            <div data-validtip="formSignup.firstname">
                <span data-ng-show="formSignup.firstname.$error.required">Please tell us what to call you</span>
            </div>
        </div>

        <div class="controls submit">
            <p class="callout">
                I agree to <a href="#">terms and conditions</a>
            </p>
            <input class="vinegar" data-ng-model="signup.vinegar" type="text" />
            <input class="honey" data-ng-model="signup.honey" type="text" />
            <input data-ng-disabled="formSignup.$invalid" class="btn btn-success" type="submit" value="Sign In"/>
        </div>
    </form>
</div>

